@import url('https://fonts.googleapis.com/css?family=Oswald');

body {
  margin: 0;
  padding: 0;
  font-family: 'Oswald', sans-serif;
    font-size: 14px;
}
.pagination{margin:0;}
.sortable{    text-align: center;}
*{ font-family: 'Oswald', sans-serif;font-size: 14px;}